// app global css
.background-header-default {
  background: $background-header-default;
}

.background-cli-default {
  background: $background-cli-default;
}


$registration_tag: #a40000;

.registration-link {
  color: $registration_tag;
  font-weight: 500;
  text-decoration: none;
}

.message-input :deep(.q-field__native::placeholder) {
  color: white;
  opacity: 1;
}
